.App {
  min-height: 100vh;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
}

.tietoevry-logo {
  width: 130px;
  height: 40px;
  object-fit: contain;
}
.nav {
  display: flex;
  align-items: center;
  z-index: 10;
  justify-content: center;
  position: fixed;
  top: 0;
  height: 40px;
  width: 100%;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}
.nav.scrolled {
  background-color: white;
}
.nav.scrolled .navlinks {
  color: #280071;
}
.nav.scrolled .navlinks:hover {
  color: #623231;
}

.nav ul {
  display: flex;
}
.nav li {
  list-style: none;
  cursor: pointer;
  transition: color 0.3s;
}

.navlinks {
  text-decoration: none;
  list-style: none;
  color: white;
  font-size: 1rem;
  line-height: 2.5rem;
  text-transform: none;
  padding: 0px 10px;
  letter-spacing: 0.5px;
  display: flex;
  justify-content: center;
}
.nav li a:hover {
  transition-duration: 0.2s;
  text-decoration: underline;
}
.slider-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  height: 90vh;
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  background-position: center;
}
h1 {
  font-size: 54px;
  line-height: 64px;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  margin: 30px;
}
.item1 {
  grid-column: 1 / span 3;
  grid-row: 2;
  background-color: #280071;
  color: #ffff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}
.item2 {
  grid-column: 1 / span 3;
  grid-row: 3;
  background-color: #ffff;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding-left: 20px;
  padding-right: 20px;
}
.morelink {
  margin-top: 20px;
  background-color: #eacbbb;
  font-size: 16px;
  line-height: 21px;
  min-width: 150px;
  height: 40px;
  justify-content: center;
  align-items: center;
  display: flex;
  align-self: flex-start;
}

.item3 {
  grid-column: 4 / 5;
  grid-row: 3;
}
.home-section {
  height: 200px;
  background-color: #efefef;
}
.hamburger {
  display: none;
}
.hamburgerlinks {
  text-decoration: none;
  list-style: none;
  padding: 0.5rem 1.5rem;
  font-size: 1rem;
  color: #280071;
  font-weight: 700;
  z-index: 999;
}

.hamburger .line1,
.hamburger .line2,
.hamburger .line3 {
  background-color: white;
  width: 25px;
  height: 3px;
  transition: 0.5s ease;
  margin: 4px 0;
}

.hamburger.active .line1 {
  transform: rotate(45deg) translate(5px, 5px);
  background-color: #280071;
}

.hamburger.active .line2 {
  opacity: 0;
}

.hamburger.active .line3 {
  transform: rotate(-45deg) translate(5px, -5px);
  background-color: #280071;
}
.dropdown-menu {
  z-index: 999;
  background-color: white;
  width: 100%;
  top: 100%;
  left: 0;
}

.overlay-menu {
  list-style: none;
  text-align: center;
  width: 100%;
  height: 100%;
  padding: 0;
  z-index: 999;
}

.overlay-menu li {
  margin: 1rem 0;
  display: flex;
  justify-content: center;
}

/*about page */
.about-wrapper {
  background-color: #efefef;
  padding-bottom: 80px;
}
.background-about {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.about-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 40px;
  margin-right: 40px;
  max-width: 1200px;
}
.about-text {
  font-size: 4.75rem;
  line-height: 5rem;
  color: #fff;
}
.about-text-2 {
  font-size: 20px;
  line-height: 25px;
  color: #fff;
}
.about-boxes-container {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 40px;
}
.about-me-box {
  background-color: #fff;
  border-bottom: 2px solid #cdcdcd;
}
.image-container-about1 {
  max-width: 400px;
  height: 340px;
  padding-top: 20px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.about-heading-secondary {
  grid-column: 1 / -1;
  margin-bottom: 20px;
  line-height: 3.75rem;
  font-size: 3rem;
  color: #333;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
}
.description {
  margin-bottom: 40px;
  color: #999;
  letter-spacing: 1.5px;
  padding: 12px;
  opacity: 1;
  font-size: 12px;
  padding: 0 30px;
}
.description-text {
  color: #623231;
  font-weight: normal;
  font-size: 1rem;
  padding-bottom: 1em;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0;
}

.image-container-about2 {
  max-width: 400px;
  height: 340px;
  padding-top: 20px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.image-container-about3 {
  max-width: 400px;
  height: 340px;
  padding-top: 20px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
/* Working experience page */
.work-wrapper {
  background-color: #efefef;
}
.work-heading {
  font-size: 4.75rem;
  line-height: 5rem;
  color: #fff;
}
.background-work {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 95vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.work-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 100px 40px;
  align-items: stretch;
}

.work-item {
  width: 45%;
  min-height: 300px;
  justify-content: center;
  align-items: center;
  padding-right: 15px;
  padding-left: 15px;
  font-size: 16px;
  color: #333;
  background-color: #fafafa;
}
.work-item1 {
  background-size: cover;
  background-position: center;
}
.work-item4 {
  background-size: cover;
  background-position: center;
}
.work-item5 {
  background-size: cover;
  background-position: center;
}
.work-secondary-heading {
  margin: 30px;
}
.work-text {
  margin: 30px;
}
.worklinks {
  font-size: 16px;
  line-height: 21px;
  height: 40px;
  display: flex;
  margin: 30px;
}
.worklinks a {
  min-width: 100px;
  background-color: #b1b5ce;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  padding: 0 20px;
  color: #000;
  text-decoration: none;
}
.worklinks a:hover {
  background-color: #d2d4e0;
}

/*education page*/
.background-education {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.edu-wrapper {
  background-color: #efefef;
  padding-bottom: 80px;
}

.edu-heading {
  grid-column: 1 / -1;
  margin-bottom: 20px;
  line-height: 3.75rem;
  font-size: 3rem;
  color: #333;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
}

.eduboxes-container {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 40px;
}
.study-box {
  background-color: #fff;
  border-bottom: 2px solid #cdcdcd;
  padding: 0 30px;
}
.image-container-bc {
  margin: 40px 0 20px;
  max-width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.description-wrapper-edu {
  margin-bottom: 40px;
  color: #999;
  letter-spacing: 1.5px;
  padding: 12px;
  opacity: 1;
  font-size: 12px;
}

.description-text-edu {
  color: #623231;
  font-weight: normal;
  font-size: 1rem;
  padding-bottom: 1em;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0;
}
.image-container-cagliari {
  margin: 40px 0 20px;
  max-width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.styled-image-cagliari {
  border-radius: 50%;
}
.image-container-canterbury {
  margin: 40px 0 20px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* footer */

.footer {
  background-color: #280071;
  height: 300px;
  padding-top: 40px;
}

.footer-container {
  display: flex;
  gap: 40px;
  width: 80%;
  margin: 0 auto;
  margin-top: 20px;
  padding-bottom: 40px;
  margin-bottom: 40px;
}
.footer-divider {
  width: 80%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.6);
  margin: 0 auto;
}
.footername {
  color: #fff;
  font-size: 40px;
  margin-top: 0;
}
.footername-wrapper {
  flex: 2;
}
.links-section {
  flex: 1;
}
.links-section ul {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
  margin-top: 0;
}

.links-section li {
  margin-bottom: 10px;
  cursor: pointer;
}

.links-section a {
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
}

.links-section a:hover {
  text-decoration: underline;
}

.social-icons {
  gap: 15px;
  flex: 2;
}

.icon {
  padding: 10px;
}

.social-icons a.linkedin-icon,
a.email-icon,
a.github-icon,
a.phone-icon {
  color: white;
}

.icon:hover {
  transform: scale(1.1);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}

.copyright {
  font-size: 0.75rem;
  line-height: 1.25rem;
  color: #b1b5ce;
  padding-top: 15px;
}

/* tablet */
@media (min-width: 768px) and (max-width: 1024px) {
  h1 {
    font-size: 30px;
    line-height: 64px;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
  }
  .slider-container {
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 200px 200px 200px;
    height: 100vh;
  }
  .nav {
    justify-content: space-around;
    margin-top: 10px;
  }

  .item1 {
    grid-column: 1 / span 6;
    grid-row: 5;
    background-color: #280071;
    color: #ffff;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .item2 {
    grid-column: 1 / span 6;
    grid-row: 6;
    display: flex;
    justify-content: flex-start;
    padding: 30px;
  }
  .item3 {
    grid-column: 1;
    grid-row: 4;
    width: 200px;
    height: 200px;
    margin: 0;
    justify-self: start;
    align-self: end;
  }
  .morelinks {
    align-self: flex-start;
  }
  .hamburger {
    display: block;
    cursor: pointer;
  }
  .hamburgerlinks {
    font-size: 2rem;
  }

  .navlinks {
    display: none;
  }
  /* about page */
  .about-boxes-container {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    padding: 0 20px;
  }
  /*work page */
  .work-heading {
    font-size: 4rem;
    padding-left: 50px;
  }
  /*education page */
  .eduboxes-container {
    grid-template-columns: repeat(2, 1fr);
    max-width: 100%;
    padding: 0 20px;
  }
  .footername {
    font-size: 30px;
  }
}
/*mobilephone */
@media (min-width: 250px) and (max-width: 768px) {
  .slider-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    height: 100vh;
  }
  .navlinks {
    display: none;
  }
  .nav {
    justify-content: space-around;
    margin-top: 10px;
  }

  h1 {
    font-size: 30px;
    line-height: 34px;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }
  .item1 {
    grid-column: 1 / span 6;
    grid-row: 5;
    background-color: #280071;
    color: #ffff;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .item2 {
    grid-column: 1 / span 6;
    grid-row: 6;
    display: flex;
    justify-content: flex-start;
    padding: 30px;
  }
  .item3 {
    grid-column: 1;
    grid-row: 4;
    width: 100px;
    height: 100px;
    margin: 0;
    justify-self: start;
    align-self: end;
  }
  /* about page */
  .about-container {
    margin-left: 30px;
    margin-right: 30px;
  }
  .about-text {
    font-size: 2.5rem;
    line-height: 2.5rem;
  }
  .about-text-2 {
    font-size: 14px;
    line-height: 18px;
  }
  .about-boxes-container {
    grid-template-columns: repeat(1, 1fr);
    max-width: 100%;
    margin: 0 auto;
    padding: 0 20px;
  }
  /*work experience */
  .work-container {
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
      "work-item1"
      "work-item2"
      "work-item4"
      "work-item3"
      "work-item5"
      "work-item6";
  }
  .work-heading {
    font-size: 2rem;
    line-height: 2.1rem;
    margin: 30px;
  }
  .work-item {
    width: 100%;
    min-height: 200px;
    padding-left: 0;
    padding-right: 0;
  }
  .work-item1 {
    grid-area: work-item1;
  }
  .work-item2 {
    grid-area: work-item2;
  }
  .work-item3 {
    grid-area: work-item3;
  }
  .work-item4 {
    grid-area: work-item4;
  }
  .work-item5 {
    grid-area: work-item5;
  }
  .work-item6 {
    grid-area: work-item6;
  }
  .work-item2,
  .work-item3,
  .work-item6 {
    margin-bottom: 20px;
  }

  /* education page */
  .eduboxes-container {
    grid-template-columns: repeat(1, 1fr);
    max-width: 100%;
    padding: 0 20px;
  }
  .footername {
    font-size: 20px;
  }
  .footer-container {
    display: block;
    margin-top: 0;
    padding-bottom: 0;
    margin-bottom: 0;
  }
}
